.container-div{
    height: 482px;
    width: 308px;
    background: #FFFFFF;

}
.heading-div{
    color: #616770;
    padding: 0px 0px 12px;
    height: 284px;
}
.column-1{

}
.column-2{

}
.image-column{

}
.request-image{

}