
.grid1 { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .grid1 img {
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: auto;
    max-width: 90%;
  }
  .imageplace{
    position: relative;
  }
  .imagetext{
    position: absolute;
    bottom: 8px;
    color: white;
    font-size: 40px;
    margin-left: 40px;
  }
  .buttonimg6{
    border: none;
    background-color: transparent;
  }